.App {
  font-family: sans-serif;
}

.image {
  display: inline-block;
  /* width: 50rem; */
  height: auto;
  vertical-align: bottom;
}

.form {
  display: flex;
  margin-bottom: 1rem;
}

.input {
  background: rgb(226, 226, 226);
  padding: 0.5rem;
  width: 12rem;
}

.input + .input {
  margin-left: 0.5rem;
}

label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

input {
  font: inherit;
  padding: 0.3rem;
  width: 4rem;
}

.imageWrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.tile {
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(204, 43, 43, 0.4); */
  /* border: 1px solid rgba(255, 0, 0, 0.8); */
}
.subtile {
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(204, 43, 43, 0.4); */
    /* border: 1px solid rgba(255, 0, 0, 0.8); */
  }
  
.tileContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.subtileContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .subtileBorder {
    position: absolute;
    top: 0;
    left: 0;
  }

.tileBorder {
  position: absolute;
  top: 0;
  left: 0;
}

.tileBorderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 0.7rem;
}

.subtileBorderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 0.7rem;
  }
  
.image2 {
    display: inline-block;
    width: 50rem;
    height: auto;
    vertical-align: bottom;
  }
  
.imageWrapper2 {
    overflow: hidden;
    position: absolute;
    display: inline-block;
  }
  
  
.tile2 {
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(204, 43, 43, 0.4); */
    /* border: 1px solid rgba(255, 0, 0, 0.8); */
  }

.tileContent2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: red; */
    /* background: rgba(0, 0, 0, 0.2); */
  }
  
  .tileBorder2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  
.tileBorderContent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: 0;
    left: 0;
    /* border: 1px solid black; */
    /* color: white; */
    font-size: 0.7rem;
  }
  

#rbgcp-gradient-bar {
    height: 200px;
}

#rbgcp-gradient-bar-canvas {
    height: 100px !important;
}

div[id^="rbgcp-gradient-handle"] {
    outline-style: none;
}

div[id^="rbgcp-gradient-handle-"][id$="-dot"] {
	border-left: 2px solid red !important; 
    border-radius: 0 !important;
    height: 100px !important;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    

}

div[id^="rbgcp-gradient-handle-"][id$="-selected-dot"] {
    width: 5px !important; 
    height: 5px !important; 
    border-radius: 50% !important; 
    background: white !important;

}